<<<<<<< HEAD
= render 'items/header_sub'
.userMain
  .userForm
    = form_for @identification do |f|
      .userForm__header
        %h1
          本人確認情報
      .userForm__flashContets
        = render "devise/shared/error_messages", resource: @identification
      .userForm__group
        .userForm__group--label
          = f.label,'お名前(全角)',class: 'label'
          %span.indispensable
            必須
        = f.text_field :name ,placeholder: "例）山田", autofocus: true, class: 'userForm__group--input'
        = f.text_field :name ,placeholder: "例）陸太郎", autofocus: true, class: 'userForm__group--input'
      .userForm__group
        .userForm__group--label
          = f.label,'お名前カナ(全角)', class: 'label'
          %span.indispensable
            必須
        = f.text_field :family_name_kana,placeholder: "例）ヤマダ", class: 'userForm__group--input'
        = f.text_field :first_name_kana,placeholder: "例）リクタロウ", class: 'userForm__group--input'
      .userForm__group
        .userForm__group--label
          = f.label :birthday
          %span.indispensable
            必須
        != sprintf(f.date_select(:birthday, prefix:'birthday',with_css_classes:'XXXXX', prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:1900, date_separator:'%s'),'年','月')+'日'
      .userForm__btn
        = f.submit "次へ", class: 'userForm__btn--red'
= render 'items/footer_sub'

