- if controller.action_name == "index"
  .itemList
    .itemList__title
      = link_to "新規投稿商品", root_path,  class:"ListLink"
    .itemList__moreBtn
      = link_to "もっと見る >", index_more_new_page_items_path ,class:"moreNewLink"
    .itemList__products
      - @items.first(6).each do |item| 
        = link_to item_path(item.id) ,  class: "itemList__products--data" do
          .dataImage
            - item.images.first(1).each do |item_image|
              = image_tag item_image.image.url  ,width: "100%",height:"80%"
            - if item.buy_status == 1
              .sold_out_image 
              .sold_out_text SOLD
          .dataInfo
            .dataInfo--name
              = item.name
            .dataInfo--price
              = "#{item.price}円"
              %p (税込)
- else controller.action_name == "index_more_new_page"               
  .newItemList
    .newItemList__title
      = link_to "新規投稿された商品一覧", root_path,  class:"newListLink"
    .newItemList__products
      - @items.each do |item| 
        = link_to item_path(item.id) ,  class: "newItemList__products--data" do
          .dataImage
            - item.images.first(1).each do |item_image|
              = image_tag item_image.image.url  ,width: "100%",height:"80%"
            - if item.buy_status == 1
              .sold_out_image 
              .sold_out_text SOLD
          .dataInfo
            .dataInfo--name
              = item.name
            .dataInfo--price
              = "#{item.price}円"
              %p (税込)
  = paginate(@items)

