%h2 商品詳細

- @item.images.each do |item|
  = image_tag item.image.url
= @item.price
.buyCheckPage__card
  .buyCheckPage__card--title
    %h2 支払い方法
  .buyCheckPage__card--data
    = render partial: "cards/card_data", locals:{card: @default_card}
  .buyCheckPage__card--change
    = link_to "支払い方法を変更する", cards_path
= form_with url: pay_items_path(@item.id), local: true do |f|
  = f.submit "購入する"


  -# %script.payjp-button{:src => "https://checkout.pay.jp", :type => "text/javascript" ,"data-text" => "購入する" ,"data-key" => "pk_test_b5dabc417590a29c092cb137"}