%h2 商品詳細

- @item.images.each do |item|
  = image_tag item.image.url
= @item.name
= @item.price
-#= "閲覧数:#{@item.impressionist_count}"
.edit
  = link_to '編集', edit_item_path(@item.id), method: :get 
- if user_signed_in? && current_user.id ==  @item.seller_id
  = link_to "削除", "/items/#{@item.id}" , method: :delete , data: {confirm: "商品を削除しますか？"}
-# = "閲覧数:#{@item.impressionist_count}"